{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">

    <!-- Fontes do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- Icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<main>
    <section class="container-pai">
        <div class="card login-Activate">

            <div class = "info-container">
                <h2 class="text-center mb-4">Fazer Login</h2>

                {% if form.errors %}
                    <div class="alert">
                        <p>Usuário ou senha inválidos. Tente novamente.</p>
                    </div>
                {% endif %}

                <form method="post" novalidate>
                    {% csrf_token %}

                    <div class="input-container">
                        <i class="fa fa-user"></i>
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% for error in form.username.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="input-container">
                        <i class="fa fa-lock"></i>
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        {% for error in form.password.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn w-100">Entrar</button>

                    <div class="options">
                        <p>Não tem uma conta?</p>
                        <a href="{% url 'register' %}">Registre-se aqui</a>
                    </div>
                </form>
            </div>

            <div class="background-container">
                <img src="{% static 'users/images/background.webp'%}" alt="">
            </div>
        </div>
    </section>
</main>
</body>
</html>
