/* Configs iniciais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Padronização de fontes */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
/* Configs do container pai e do card */
.container-pai {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3em;
        margin-bottom: 0.2em;

        color: #383838;
    }

    .input-container, button {
        width: 20rem;
        height: 3.2rem;
        padding: 0.6rem;
        
        border-radius: 0.8rem;
        border: none;
        outline: none;
        color: #2b2b2b;
        background: #E6E6E6;
    }
    
    .input-container {
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 0.9em;
        border: 1.5px solid #252525;
    }

    .input-container label {
        margin-right: 0.4em;
    }
    input {
        width: 20rem;
        border: none;
        outline: none;
        background: #E6E6E6;
    }

    input::placeholder{
        color: #5A5A5A;
    }

    button {
        background:
        linear-gradient(90deg, #381550 0%, #7612b8 50%, #772EA8 100%);
        margin-top: 1em;
        cursor: pointer;

        font-weight: 700;
        font-size: 1em;
        color: #ffffff;
        transition: all .3s;
    }

    button:hover {
        transform: translateY(-0.3em);
    }
}

.card {
    width: 60%;
    height: 70vh;
    border-radius: 2rem;

    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    
    animation: fadeSlideUp 0.8s ease forwards;
    opacity: 0;
}

.info-container {
    width: 50%;
    height: 100%;
    padding: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin, .formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-container {
    overflow: visible;
  }

.background-container img {
    width: 38rem;
    height: 42rem;
    display: block;
    transition: transform 0.5s ease;

    animation: slideImage 1s ease forwards;
    animation-delay: 0.2s;
    opacity: 0;
}


.formCadastro {
    position: absolute;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
}

.options a {
    color: #5A5A5A;
    text-decoration: none;
}

/* LoginActive */

.card.loginActive .formCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive .formLogin{
    opacity: 0;
    pointer-events: none;
}

/* Transições */

.formLogin, .formCadastro {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    pointer-events: auto;
}

.card.loginActive .formCadastro,
.card.cadastroActive .formLogin {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.98);
}

.card.loginActive .formLogin,
.card.cadastroActive .formCadastro {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.card.loginActive .background-container img {
    transform: translateX(0em);
}

.card.cadastroActive .background-container img {
    transform: translateX(2em);
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.error-container {
    display: none;
    color: #252525;
    margin-left: 0.2em;
    font-size: 1em;
}

.error-container:has(.text-error) {
    display: block;
}

.text-error {
    font-size: 0.8em;
    color: #222222;
}

.input-container:focus-within {
    border-color: #007bff; /* azul, por exemplo */
}

.input-container-error {
    border-color: #ff4d4d !important;
}
