{% load static %}
<header>
        <section class="cabecario">
            <div class="logo-titulo">
                <img src="{% static 'core/images/acai-icon.png' %}" alt="icone de um açai">
                <p>Pura mania</p>
            </div>

            <nav class="menu-desktop">
                <ul>
                    <li>Inicio</li>
                    <li>Entrar</li>
                    <li>Cardápio</li>
                    <li>Contato</li>
                    <li><img src="{% static 'core/images/menu.png' %}" alt=""></li> 
                </ul>
            </nav>
        </section>
</header>